@keyframes bg-animate{
    0% {background-color: black;}
    50% {background-color: white;}
    100% {background-color: black;}
}


html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Monospace;
    background-color: black;
    /* animation: bg-animate 6s infinite linear; */
    color: white;
    font-size: 1em;
    margin-bottom: 10%;
}

@media(min-height: 500px;) {
    body {
        font-size: 2em;
    }
    body div {
        margin-left: 3%;
        margin-right: 3%;
    }
}

body div {
    margin-left: 10%;
    margin-right: 10%;
}

.intro-div, #photos {
    margin-top: 5%;
    margin-bottom: 5%;
}

.header {
    font-size: 2.5em;
    /* margin-bottom: 15%; */
}

@media(min-height: 800px;) {
    .header {
        font-size: 3em;
    }
}

#facebook-group,
#twilio-box {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 0;
    margin-right: 0;
}


#facebook-group {
    background-color: white;
}
#twilio-box {
    margin-left: 10%;
}

@media (min-height: 800px;) {
    margin-left: 20%;
}

.fb-login-button {
    margin-left: calc(50% - 150px);
}

/* Stolen from: https://codepen.io/lbebber/pen/qEjRYd */
.text {
  display: inline-block;
  filter: url("#rgbGlitch");
}

.text2 {
  display: inline-block;
  filter: url("#glitch");
}

.hideSvgFilter { height: 0; }

/* Shamelessly taken from: https://css-tricks.com/glitch-effect-text-images-svg/ */

.example-one {
  font-size: 250%;
  color: white;
  position: relative;
}
@keyframes example-one-anim-1 {
  0% {
    clip: rect(100px, 600px, 81px, 0);
  }
  5.88235% {
    clip: rect(23px, 600px, 60px, 0);
  }
  11.76471% {
    clip: rect(40px, 600px, 25px, 0);
  }
  17.64706% {
    clip: rect(73px, 600px, 86px, 0);
  }
  23.52941% {
    clip: rect(31px, 600px, 106px, 0);
  }
  29.41176% {
    clip: rect(10px, 600px, 17px, 0);
  }
  35.29412% {
    clip: rect(87px, 600px, 108px, 0);
  }
  41.17647% {
    clip: rect(106px, 600px, 106px, 0);
  }
  47.05882% {
    clip: rect(16px, 600px, 16px, 0);
  }
  52.94118% {
    clip: rect(76px, 600px, 9px, 0);
  }
  58.82353% {
    clip: rect(115px, 600px, 47px, 0);
  }
  64.70588% {
    clip: rect(79px, 600px, 61px, 0);
  }
  70.58824% {
    clip: rect(105px, 600px, 112px, 0);
  }
  76.47059% {
    clip: rect(3px, 600px, 97px, 0);
  }
  82.35294% {
    clip: rect(8px, 600px, 1px, 0);
  }
  88.23529% {
    clip: rect(20px, 600px, 17px, 0);
  }
  94.11765% {
    clip: rect(16px, 600px, 26px, 0);
  }
  100% {
    clip: rect(34px, 600px, 79px, 0);
  }
}
.example-one:before, .example-one:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  clip: rect(0, 0, 0, 0);
}
.example-one:after {
  left: 2px;
  text-shadow: -1px 0 red;
  animation: example-one-anim-1 2s infinite linear alternate-reverse;
}
.example-one:before {
  left: -2px;
  text-shadow: 2px 0 #2EAFAC;
  animation: example-one-anim-2 3s infinite linear alternate-reverse;
}
